$bg-color: #ddd;
$fg-color: #fff;
$txt-color: #111;

body{
  background-color: $bg-color;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}

#list{
  .item{
    background-color: $fg-color;
    padding: 10px;
    width: 100%;
  }
}
